@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #C5A059;
}

body {
  background: black;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

.text-gold {
  color: var(--gold);
}