@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

/* This makes the "Enter Portal" button look like a pill */
.btn-elite {
  @apply bg-white text-black px-8 py-4 rounded-full font-black uppercase tracking-widest hover:bg-[#C5A059] transition-all;
}
